.contact-page {
	width: 100%;
	padding: 42px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(to bottom, #2f6bbd 0%, #009cea 100%);
	.title {
		margin-top: 42px;
		display: inline-block;
		font-size: 42px;
		text-align: center;
		border-bottom: 2px solid #ffc939;
		color: white;
	}

	.contacts {
		margin-top: 42px;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		color: white;
		.contact {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.img-circle {
				height: 200px;
				width: 200px;
				border-radius: 50%;
				margin-bottom: 16px;
				-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.56);
				box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.56);
				img {
					height: 200px;
					width: 200px;
					border-radius: 50%;
				}
			}
		}
	}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	.contact-page {
		.contacts {
			flex-direction: column;
			align-items: center;

			.contact {
				margin-top: 16px;
			}
		}
	}
}
