<div class="contact-page">
    <div class="title">
        Contact
    </div>
    <div class="contacts">
        <div class="pato contact">
            <div class="img-circle">
                <img src="../../../assets/pato.jpg" alt="">
            </div>
            <div class="name">Pato Vargas</div>
            <div class="email">patricio_vargasgonzalez@csx.com</div>
        </div>
        <div class="tony contact">
            <div class="img-circle">
                <img src="../../../assets/tony.jpg" alt="">
            </div>
                <div class="name">Tony Scialo</div>
                <div class="email">tony_scialo@csx.com</div>
            </div>
    </div>
</div>
