<div class="scanner-shell" [hidden]="!hasDevices">

    <header>
      <select (change)="onDeviceSelectChange($event.target.value)">
        <option value="" [selected]="!currentDevice">No Device Selected</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{ device.label }}</option>
          </select>
    </header>
  
     <div class="qr-scan-area">
      <zxing-scanner #scanner start="true" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)" [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"></zxing-scanner>
      <div class="qr-area"></div>
     </div>
    <section class="results" *ngIf="qrResultString">
      <small>Result</small>
      <strong>{{ qrResultString }}</strong>
    </section>
  
  </div>
 
 
