<section class="about">
  <div class="container">
    <div class="title">
      About the Hackathon
    </div>
    <div class="body">
      We are proud to keep this tradition going by hosting the 3rd Hackathon. The CSX Hackathon 2019 will  take place at CSX Technology 550 building on May 17th & May 18th. In order to attend we are asking all the participants to register. The teams can't be bigger than 5 members. If you don't have a team just type in the registration form “N/A” as your team.
    </div>
  </div>
</section>