<section class="about">
  <div class="container">
    <div class="title">
      About the Hackathon
    </div>
    <div class="body">
        <div class="left-side">
            <div class="description">
              The CSX Hackathon 2019 is finally here! We’ll have mentors from different areas, and a great atmosphere for learning something new. We'll be providing food and snacks to keep you energized during the hackathon.
            </div> 
            <div class="event-info">
              <div class="schedule">
                  <span class="day">Friday</span>
                  <ul>
                    <li>9:00am -  Check In</li>
                    <li>10:00am -  Intro Hackathon</li>
                    <li>11:00am -  Time to hack!</li>
                    <li>8:00pm -  Dinner</li>
                  </ul>
              </div>
              <div class="schedule">
                  <span class="day">Saturday</span>
                  <ul>
                      <li>1:00pm -  Team's Presentations</li>
                      <li>4:00pm -  End of The Hackathon</li>
                    </ul>
                </div>
              </div>
        </div>
        <div class="right-side">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.8837050228353!2d-81.66724878472348!3d30.32582558178078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e5b7140c96686b%3A0x6da742d42886bb39!2s550+Water+St%2C+Jacksonville%2C+FL+32202!5e0!3m2!1sen!2sus!4v1554229414295!5m2!1sen!2sus" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
  </div>
</section>