.about {
	height: 300px;
	.container {
		padding: 32px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.title {
			display: inline-block;
			font-size: 42px;
			text-align: center;
			border-bottom: 2px solid #ffc939;
		}

		.body {
			margin-top: 42px;
			width: 50%;
		}
	}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	.about {
		height: 80vh;
	}
}
