<mat-toolbar color="">
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/registration">Registration</button>
        <button mat-button routerLink="/checkin">Check In</button>
        <button mat-button routerLink="/">Teams</button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-button routerLink="/">Home</button>
    <button mat-menu-item routerLink="/registration">Registration</button>
    <button mat-button routerLink="/checkin">Check In</button>
    <button mat-menu-item routerLink="/">Teams</button>
</mat-menu>