.welcome {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	margin: 42px;
	.title {
		font-size: 42px;
		font-weight: 700;
		text-align: center;
	}

	.logo {
		height: 250px;
		width: 250px;
	}

	button {
		width: 100%;
	}
}

::ng-deep {
	.mat-raised-button.mat-primary {
		background-color: #2f6bbd;
		color: white;
	}
}
