<div class="timeline-page" id="schedule">
    <div class="title">
      Schedule
    </div>
    <div class="body">
        <div class="timeline">
            <div class="container left">
              <div class="content">
                <h2>Check In</h2>
                <p>9am-10am</p>
                <p>Check In @ Skyline Room.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>Introduction & Kick Off.</h2>
                <p>10am-11am</p>
                <p>Welcome to CSX Hackathon 2019 speech by our special guest Kathleen B.</p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2>Hacking Begins</h2>
                <p>11am</p>
                <p>Let the Hacking Begin!.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>Lunch</h2>
                <p>12pm-2pm</p>
                <p>Come to the Skyline to grab lunch and meet other hackers.</p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2>Dinner</h2>
                <p>8pm-10pm</p>
                <p>Get ready to recharge some engergy with the dinner we have for you. Meet us @ the Skyline.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>Team Presentations</h2>
                <p>1pm-4pm</p>
                <p>Hacking stops! time to present your awesome projects!</p>
              </div>
            </div>
          </div>
    </div>
  </div>