.qr-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0 42px;

    .title {
        text-align: center;
        font-weight: 700;

    }

    ::ng-deep {
        .qr-code {
            text-align: center;
            img {
                height: 300px;
                width: 300px;
            }
        }
    
    }
    button {
        width: 100%
    }
}