.title {
    text-align: center;
}
.qr-dialog {
    .dialog-body {
        display: flex;
        flex-direction: column;
    }
}

.info {
    display: block;
    margin: 4px;
}

.dialog-info {
    padding: 0 16px;
}