<div class="registration">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" required>
    <div class="form">
      <mat-form-field>
        <input matInput placeholder="First Name"  formControlName="firstname"required required minlength="3">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name"  formControlName="lastname"  minlength="3">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="RACF" formControlName="racf" required  minlength="4">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" required  minlength="3">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required type="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Team" formControlName="team">
      </mat-form-field>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Terms and Conditions
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>
          <span>
            Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text. It's a convenient tool for mock-ups. It helps to outline the visual elements of a document or presentation, eg typography, font, or layout. Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero. Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore. While lorem ipsum's still resembles classical Latin, it actually has no meaning whatsoever. As Cicero's text doesn't contain the letters K, W, or Z, alien to latin, these, and others are often inserted randomly to mimic the typographic appearence of European languages, as are digraphs not to be found in the original.
        
          </span>
          </mat-expansion-panel>
      </mat-accordion>
      <mat-checkbox formControlName="acceptedterms" required>I accept terms and condition.</mat-checkbox>
    </div>
    <button type="submit" mat-raised-button color="accent" class="submit-buttom"  [disabled]="!registrationForm.valid">Submit</button>
  </form>
</div>


