<div class="timeline-page" id="schedule">
    <div class="title">
      Schedule
    </div>
    <div class="body">
        <div class="timeline">
            <div class="container left">
              <div class="content">
                <h2>Check In</h2>
                <p>9am-10am (Friday 17th)</p>
                <p>Check In @ Skyline Room.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>Introduction & Kick Off.</h2>
                <p>10am-11am (Friday 17th)</p>
                <p>Welcome to CSX Hackathon 2019 speech by our special guest Kathleen B.</p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2>Hacking Begins</h2>
                <p>11am (Friday 17th)</p>
                <p>Let the Hacking Begin!</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>Lunch</h2>
                <p>12pm-2pm (Friday 17th)</p>
                <p>Come to the Skyline to grab lunch and meet other hackers.</p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2>Dinner</h2>
                <p>7pm-9pm (Friday 17th)</p>
                <p>Get ready to recharge some engergy with the dinner we have for you. Meet us @ the Skyline.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>Breakfast</h2>
                <p>8am-10am (Saturday 18th)</p>
                <p>Engergize your morning with some breakfast to get the last few hours of hacking going.</p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h2>Lunch</h2>
                <p>12pm-1pm(Saturday 18th)</p>
                <p>Come to the Skyline to grab lunch and meet other hackers.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>Team Presentations</h2>
                <p>1pm-4pm (Saturday 18th)</p>
                <p>Hacking stops! Time to present your awesome projects!</p>
              </div>
            </div>
          </div>
    </div>
  </div>